* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 31.62px;
  font-size: 17px;
}

header {
  width: 100%;
  height: 800px;
  background-image: url(../images/drew-coffman-1872.jpg), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-navbar {
  background-color: transparent !important;
  padding: 0 50px;
  text-shadow: #000 0px 0px 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 991px) {
  .custom-navbar {
    background-color: #fff !important;
    padding: 10px 15px;
  }
  .custom-navbar .nav-link {
    height: 10px !important;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(154, 149, 149, 0.15);
    text-shadow: none;
    color: #353330 !important;
  }
  .custom-navbar .nav-link:hover {
    color: #8e7754 !important;
  }
  .custom-navbar .nav-link.active {
  border-top: transparent 3px solid !important;
}
}

.custom-navbar .nav-link {
  font-size: 18px;
  font-family: "Alegreya", serif;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 25px 50px;
  border-top: 3px solid transparent;
}

.custom-navbar .nav-link.active {
  color: #E0DCD2;
  border-top: #8e7754 3px solid;
}

.custom-navbar .nav-link:hover {
  color: #e0c690;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.header-content {
  color: #fff;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content p {
  font-size: 22px;
}
.header-content .text-center {
  font-size: 24px;
  line-height: 50px;
}

.header-content h1 {
  font-size: 76px;
  font-weight: 400;
  font-family: Alegreya, serif;
}

.header-content .learnMore-btn {
  padding: 15px 28px;
  background-color: #8e7754;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.learnMore-btn:hover {
  background-color: #fff;
  color: #000;
}
.header-content .contactUs-btn {
  padding: 15px 28px;
  border: 3px solid #fff;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header-content .buttons {
  margin: 40px;
  font-size: 26px;
}
.logo img {
  width: 50%;
}


.loader-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 32px;
  height: 50px;
}

.loader {
  width: 32px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  position: relative;
  cursor: pointer;
  border-radius: 24px;
}

.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  animation: fadeDown 2s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 0.8;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}

.fixed-things a.scrollup {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.8);
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  opacity: 0.5;
  border-radius: 50% !important;
  font-weight: 300;
}
.fixed-things a.scrollup:hover {
  opacity: 1;
  color: #fff;
  transition: all .2s ease-in;
}

.offcanvas {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 0;
  height: 100vh;
  border-radius: 0;
}

.offcanvas-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 1.5rem;
}

.offcanvas-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.offcanvas-body {
  padding: 1.5rem;
}

.offcanvas-body h6 {
  font-weight: 600;
  color: #495057;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.demo-site-item {
  display: block;
  margin-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.demo-site-item:hover {
  border-color: #8e7754;
}

.fixed-icons-container {
  position: fixed;
  top: 35%;
  right: 0;
  z-index: 1000;
}

.icon-group {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 5px;
  display: flex;
  flex-direction: column;
}

.icon-box {
  width: 42px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-box i {
  color: #666;
  font-size: 20px;
}

.icon-box i:hover {
  color: #218fe6;
}
#WhoWeAre h2 {
  font-size: 32px;
  font-weight: 400;
  margin: auto;
}
#WhoWeAre p {
  font-size: 17px;
}

.container-fluid h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0;
}
.who {
  padding: 20px 15px 0;
}
.who h2 {
  text-align: left;
  font-family: Alegreya, serif;
  color: #303030;
}
.who p {
  color: #686868;
}
.who-img img {
  width: 95%;
}
.list-unstyled li {
  margin: 20px;
  color: #686868;
}
.list-unstyled i {
  list-style-type: none;
  color: #8e7754;
  border: 1px solid rgba(0, 0, 0, .15);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  line-height: 44px;
  font-size: 20px;
}
.our h2 {
  font-family: Alegreya, serif;
  font-weight: 400;
  padding-bottom: 25px;
  color: #303030;
}
.our .p1 {
  color: #686868;
  font-size: 17px;
  padding-bottom: 20px;
}
.our .p2 {
  color: #686868;
  font-size: 17px;
}
.our-img img {
  width: 95%;
}
.bake h3 {
  font-family: Alegreya, serif;
  font-size: 30px;
  font-weight: 400;
  color: #303030;
}
.bake .p-bake-title {
  color: #888888;
  font-size: 17px;
}
.bake .p-bake {
  font-family: alegreya sans, sans-serif;
  color: #686868;
  font-size: 17px;
}
.bake h4 {
  font-family: Alegreya, serif;
  font-size: 22px;
  font-weight: 400;
  color: #303030;
}

.contact h2 {
  font-family: Alegreya, serif;
  font-size: 32px;
  font-weight: 400;
  color: #303030;
  padding-bottom: 25px;
}
.contact p {
  color: #686868;
  font-size: 17px;
}
.list-contact li {
  list-style-type: none;
  margin: 20px 0;
  color: #686868;
}
.list-contact i {
  background-color: #8e7754;
  color: #ffffff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  line-height: 36px;
}
.contact-map {
  height: 617px;
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .contact-map {
    height: auto;
    width: 100%;
  }
  .contact-map iframe {
    width: 100%;
  }
}

#OurLocation,
#ContactInformation {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 0;
}

#WhoWeAre, #OurBaking {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 0;
}
.footer h4 {
  font-family: Alegreya, serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #403d38;
  color: #fff;
  padding: 0 0 25px;
}
.footer p {
  color: #969696;
  font-size: 16px;
  padding: 0 0 5px;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer li {
  margin: 10px 0;
  color: #969696;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 16px;
}
.footer i {
  color: #969696;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.footer ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
}
.footer ul li i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #969696;
  padding-right: 20px;
}
.footer a {
  color: #969696;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: #E0E0E0;
}
.footer span {
  color: #969696;
  font-size: 16px;
}
.footer-text {
  color: #969696;
  font-size: 16px;
}
.footer-contact-details-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-bottom .copyright {
  color: #777777;
  font-size: 15px;
}

.footerBottom-icons i {
  background-color: #484540;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  transition: all .2s ease-out;
}

.footerBottom-icons :hover {
  transition: all .2s ease-in;
}

.footerBottom-icons .facebook:hover {
  background-color: #014c8c;
  color: #fff;
}
.footerBottom-icons .google:hover {
  background-color: #d34836;
  color: #fff;
}
.footerBottom-icons .linkedin:hover {
  background-color: #0077b5;
  color: #fff;
}
.footerBottom-icons .twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

#footer-main {
  background-color: #403d38;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 0;
}

#footer-bottom {
  background-color: #353330;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}